body, html {
  padding: 0;
  margin: 0;
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: rgb(112, 112, 136);
}

.App {
  height: 100%;
  position: relative;
  width: 100%;
  padding-top: 90px;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 24px 0 100px;
}

.navbar a {
  text-decoration: none;
}

.navbarLink button {
  padding: 0;
}

 .navbar .loginBtn {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  color: #fff;
  margin-left: auto;
  margin-right: 10px;
}

.logo {
  width: 50px;
  margin: 20px auto;
}

/* Image Upload */
.imageInput::before {
  display: block;
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  transition: opacity .25s ease;
}

.imageInput:hover::before {
  opacity: 1;
}